.post {
    position: relative;
    width: 100%;
    border: 1px solid #118888;
    height:  50px;
    border-radius: 5px;
    margin-top: 5px;
}

.post img {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin: 2.5px;
}

.item {
    position: absolute;
    margin-left: 80px;
    color: blueviolet;
    width: 100%;
    padding: 10px;
}

.like {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
}