.nav{
    grid-area: nav;
    background: #188;
    border-radius: 10px;
    padding: 0px;
    margin: 10px;
}

.item {
    font-size: 20px;

    padding: 15px;
    text-align: center;
}

.item:hover {
    background: #ccffff;
    color: #188;
    font-size: 25px;
    font-weight: bold;
}

.item a {
    color: aliceblue;
    text-decoration: none;
}

.item a:hover {
    color: #188;
    font-weight: bold;
}


.item a.active {
    color: aqua;
    font-weight: bold;
    font-size: 25px;

}